In [92]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [146]:
dim_match = pd.read_csv("dim_match_summary.csv")
dim_players = pd.read_csv("dim_players.csv")
fact_bat = pd.read_csv("fact_bating_summary.csv")
fact_boll = pd.read_csv("fact_bowling_summary.csv")

In [148]:
dim_match.head()

         team1        team2       winner     margin     matchDate match_id
0  Super Kings          KKR  Super Kings    27 runs  Oct 15, 2021  T203817
1     Capitals          KKR          KKR  3 wickets  Oct 13, 2021  T206442
2          RCB          KKR          KKR  4 wickets  Oct 11, 2021  T208597
3     Capitals  Super Kings  Super Kings  4 wickets  Oct 10, 2021  T201819
4     Capitals          RCB          RCB  7 wickets   Oct 8, 2021  T205942

In [150]:
dim_players.head()

## raname name to batsman name
dim_players.rename(columns={"name": "batsmanName"}, inplace=True)

In [152]:
dim_players.head()

,batsmanName,team,battingStyle,bowlingStyle,playingRole
0,RuturajGaikwad,Super Kings,Right hand Bat,Right arm Offbreak,Batter
1,FafduPlessis,Super Kings,Right hand Bat,Legbreak,Middle order Batter
2,RobinUthappa,Super Kings,Right hand Bat,Right arm Medium,Batter
3,MoeenAli,Super Kings,Left hand Bat,Right arm Offbreak,Batting Allrounder
4,ShubmanGill,KKR,Right hand Bat,Right arm Offbreak,Opening Batter

In [154]:
dim_match.shape, dim_players.shape

((206, 6), (292, 5))

In [156]:
fact_bat.head()

,match_id,match,teamInnings,battingPos,batsmanName,out/not_out,runs,balls,4s,6s,SR
0,T203817,Super Kings Vs KKR,Super Kings,1,RuturajGaikwad,out,32,27,3,1,118.51
1,T203817,Super Kings Vs KKR,Super Kings,2,FafduPlessis,out,86,59,7,3,145.76
2,T203817,Super Kings Vs KKR,Super Kings,3,RobinUthappa,out,31,15,0,3,206.66
3,T203817,Super Kings Vs KKR,Super Kings,4,MoeenAli,not_out,37,20,2,3,185.00
4,T203817,Super Kings Vs KKR,KKR,1,ShubmanGill,out,51,43,6,0,118.60

In [158]:
fact_boll.head()

,match_id,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,T203817,Super Kings Vs KKR,KKR,ShakibAlHasan,3.0,0,33,0,11.0,6,2,3,0,0
1,T203817,Super Kings Vs KKR,KKR,ShivamMavi,4.0,0,32,1,8.0,8,1,2,0,0
2,T203817,Super Kings Vs KKR,KKR,LockieFerguson,4.0,0,56,0,14.0,4,7,2,2,0
3,T203817,Super Kings Vs KKR,KKR,VarunChakravarthy,4.0,0,38,0,9.5,5,2,2,0,1
4,T203817,Super Kings Vs KKR,KKR,SunilNarine,4.0,0,26,2,6.5,6,0,1,1,0

In [160]:
fact_boll.isnull().sum()

match_id       0
match          0
bowlingTeam    0
bowlerName     0
overs          0
maiden         0
runs           0
wickets        0
economy        0
0s             0
4s             0
6s             0
wides          0
noBalls        0
dtype: int64

In [164]:
df = pd.merge(dim_match, fact_boll, on='match_id')

In [166]:
df = pd.merge(df, fact_bat, on='match_id')

In [168]:
main_df = pd.merge(df, fact_bat, on='batsmanName')
main_df.head()

,team1,team2,winner,margin,matchDate,match_id_x,match_x,bowlingTeam,bowlerName,overs,...,match_id_y,match,teamInnings_y,battingPos_y,out/not_out_y,runs,balls_y,4s,6s,SR_y
0,Super Kings,KKR,Super Kings,27 runs,"Oct 15, 2021",T203817,Super Kings Vs KKR,KKR,ShakibAlHasan,3.0,...,T203817,Super Kings Vs KKR,Super Kings,1,out,32,27,3,1,118.51
1,Super Kings,KKR,Super Kings,27 runs,"Oct 15, 2021",T203817,Super Kings Vs KKR,KKR,ShakibAlHasan,3.0,...,T201819,Capitals Vs Super Kings,Super Kings,1,out,70,50,5,2,140.00
2,Super Kings,KKR,Super Kings,27 runs,"Oct 15, 2021",T203817,Super Kings Vs KKR,KKR,ShakibAlHasan,3.0,...,T201866,Super Kings Vs Punjab Kings,Super Kings,1,out,12,14,1,0,85.71
3,Super Kings,KKR,Super Kings,27 runs,"Oct 15, 2021",T203817,Super Kings Vs KKR,KKR,ShakibAlHasan,3.0,...,T207682,Super Kings Vs Capitals,Super Kings,1,out,13,13,2,0,100.00
4,Super Kings,KKR,Super Kings,27 runs,"Oct 15, 2021",T203817,Super Kings Vs KKR,KKR,ShakibAlHasan,3.0,...,T205672,Super Kings Vs Royals,Super Kings,1,not_out,101,60,9,5,168.33

In [170]:
main_df.columns

Index(['team1', 'team2', 'winner', 'margin', 'matchDate', 'match_id_x',
       'match_x', 'bowlingTeam', 'bowlerName', 'overs', 'maiden', 'runs_x',
       'wickets', 'economy', '0s', '4s_x', '6s_x', 'wides', 'noBalls',
       'match_y', 'teamInnings_x', 'battingPos_x', 'batsmanName',
       'out/not_out_x', 'runs_y', 'balls_x', '4s_y', '6s_y', 'SR_x',
       'match_id_y', 'match', 'teamInnings_y', 'battingPos_y', 'out/not_out_y',
       'runs', 'balls_y', '4s', '6s', 'SR_y'],
      dtype='object')

In [178]:
dim_match.shape, dim_players.shape

((206, 6), (292, 5))

In [186]:
fact_bat.shape, fact_boll.shape

((3268, 11), (2436, 14))

In [211]:
dim_players.columns

Index(['batsmanName', 'team', 'battingStyle', 'bowlingStyle', 'playingRole'], dtype='object')

In [203]:
fact_bat.columns

Index(['match_id', 'match', 'teamInnings', 'battingPos', 'batsmanName',
       'out/not_out', 'runs', 'balls', '4s', '6s', 'SR'],
      dtype='object')

In [227]:
df = dim_match.merge(fact_boll, on='match_id').merge(fact_bat, on='match_id').merge(dim_players,  on='batsmanName')

In [231]:
df = df[['team1', 'team2', 'winner', 'margin', 'matchDate', 'match_id',
        'match_x', 'bowlingTeam', 'bowlerName', 'overs', 'maiden', 'runs_x',
        'wickets', 'economy', '0s', '4s_x', '6s_x', 'wides', 'noBalls', 
        'teamInnings', 'battingPos', 'batsmanName', 'out/not_out',
        'balls', 'SR', 'team', 'battingStyle','bowlingStyle', 'playingRole']]

In [239]:
df.rename(columns={"match_x": "match", "4s_x": "4s", "6s_x": "6s", "runs_x": "runs"}, inplace=True)

In [241]:
df.isnull().sum()

team1           0
team2           0
winner          0
margin          0
matchDate       0
match_id        0
match           0
bowlingTeam     0
bowlerName      0
overs           0
maiden          0
runs            0
wickets         0
economy         0
0s              0
4s              0
6s              0
wides           0
noBalls         0
teamInnings     0
battingPos      0
batsmanName     0
out/not_out     0
balls           0
SR              0
team            0
battingStyle    0
bowlingStyle    0
playingRole     0
dtype: int64

In [243]:
df.to_csv("ipl_main.csv", index=False)